In [37]:
!ls

 Corpus.ipynb		     parents_names.csv
 fix_names.ipynb	     real_greek_ids.csv
 format_function.ipynb	     real_greek_ids_v2.csv
 greek2.csv		     taxidromikos_kodikas_data.csv
 Greek.csv		     taxidromikos_kodikas_data.ods
 greek.ipynb		     taxydromikos_kwdikas.csv
 greek_rest2.csv	     test_real_greek.csv
 greek_rest.csv		     training_real_greek_ids.csv
 Greek_step_2.ipynb	    'Untitled 1.csv'
 greek_wikipedia_names.csv  'ανδρικά ελληνικά ονόματα'
 names_separate.ipynb	     ελληνικά_επώνημα_370
'other names.csv'	     ονόματα_git_v1
'parents names.csv'

In [2]:
import pandas as pd

In [38]:
df = pd.read_csv('test_real_greek.csv')

In [39]:
df = df.drop(['Unnamed: 0'], axis=1)

In [40]:
df

,Identity No,Data of Issue,Greek First Name,Given name,Greek Last Name,Surname,Father’s name,Mother’s name,Date of Birth,Place of Birth,Dimotis
0,T1653023,07/06/08,Ανδρόνικος,Andronikos,Γκιζογιαννης,Gizogiannis,Αχιλλέας,Ανίτα,12/08/90,ΣΥΚΙΕΣ ΘΕΣΣΑΛΟΝΙΚΗΣ,ΣΥΚΙΕΣ 56625
1,B4248133,02/28/08,Αντώνης,Antonios,Ασημακόπουλος,Asimakopoulos,Αινιας,Αρετή,04/17/91,ΝΕΑ ΙΩΝΙΑ ΒΟΛΟΣ ΜΑΓΝΗΣΙΑΣ,ΝΕΑ ΙΩΝΙΑ ΒΟΛΟΣ 38446
2,H8041621,09/04/19,Αργύρης,Argiris,Παπαπέτρου,Papapetrou,Δροσίς,Ζεπω,01/31/96,ΘΕΣΣΑΛΟΝΙΚΗ ΘΕΣΣΑΛΟΝΙΚΗΣ,ΘΕΣΣΑΛΟΝΙΚΗ 54625
3,T7537065,11/14/17,"""Ευάγγελος Βαγγέλης""","""Evangelos """"Vangelis""""""",Αγγέλου,Angelou,Αριστιππος,Διαμάντω,08/24/91,ΝΕΑ ΙΩΝΙΑ ΑΤΤΙΚΗΣ,ΝΕΑ ΙΩΝΙΑ 14231
4,IZ3473149,04/20/16,"""Ευάγγελος """"Βαγγέλης""""""","""Evangelos """"Vangelis""""""",Σκλάβος,Sklavos,Μπιλλης,Δεναχιδα,05/12/87,ΚΑΒΑΛΑ ΚΑΒΑΛΑΣ,ΚΑΒΑΛΑ 65302
...,...,...,...,...,...,...,...,...,...,...,...
95,B9716346,08/27/09,Georgios,Γιώργος,Bartzokas,Μπαρτζώκας,Βάλιος,Αριανα,03/08/88,ΧΑΛΑΝΔΡΙ ΑΤΤΙΚΗΣ,ΧΑΛΑΝΔΡΙ 15234
96,O2931845,10/19/20,Ioannis,Γιάννης,Sfairopoulos,Σφαιρόπουλος,Δρακος,Αμφιτριτη,05/23/90,ΑΘΗΝΑ ΑΤΤΙΚΗΣ,ΑΘΗΝΑ 10436
97,IZ3049008,06/23/16,Vangelis,Βαγγέλης,Mantzaris,Μάντζαρης,Βακις,Δρύα,01/20/89,ΚΑΣΤΡΙ ΑΡΚΑΔΙΑΣ,ΚΑΣΤΡΙ 22013
98,KE6638472,05/30/15,Georgios,Γιώργος,Printezis,Πρίντεζης,Αρκάδιος,Δέσπω,06/21/93,ΑΓΙΟΣ ΓΕΩΡΓΙΟΣ ΓΡΕΒΕΝΩΝ,ΑΓΙΟΣ ΓΕΩΡΓΙΟΣ 51030
99,PE2549808,12/03/08,Kostas,Κώστας,Papanikolaou,Παπανικολάου,Αχίλλιος,Αριστονίκη,05/26/98,ΑΧΑΡΝΕΣ ΑΤΤΙΚΗΣ,ΑΧΑΡΝΕΣ 13674

In [41]:
df['Greek First Name']

0                   Ανδρόνικος
1                      Αντώνης
2                      Αργύρης
3         "Ευάγγελος Βαγγέλης"
4     "Ευάγγελος ""Βαγγέλης"""
                ...
95                    Georgios
96                     Ioannis
97                    Vangelis
98                    Georgios
99                      Kostas
Name: Greek First Name, Length: 100, dtype: object

In [42]:
tmp = pd.DataFrame(df3['des2'].str.split("Greek: ", 1).tolist(), columns=["trash", "des3"]) 
df4 = pd.concat([df3, tmp], axis=1).drop(["trash", "des2"], axis=1)

NameError: name 'df3' is not defined

## For Greek First Name

In [43]:
tmp = pd.DataFrame(df['Greek First Name'].str.split(" ", 1).tolist(), columns=["Names GR", "out"])
df1 = pd.concat([df, tmp], axis=1).drop(["Greek First Name", "out"], axis=1)

In [44]:
df1

,Identity No,Data of Issue,Given name,Greek Last Name,Surname,Father’s name,Mother’s name,Date of Birth,Place of Birth,Dimotis,Names GR
0,T1653023,07/06/08,Andronikos,Γκιζογιαννης,Gizogiannis,Αχιλλέας,Ανίτα,12/08/90,ΣΥΚΙΕΣ ΘΕΣΣΑΛΟΝΙΚΗΣ,ΣΥΚΙΕΣ 56625,Ανδρόνικος
1,B4248133,02/28/08,Antonios,Ασημακόπουλος,Asimakopoulos,Αινιας,Αρετή,04/17/91,ΝΕΑ ΙΩΝΙΑ ΒΟΛΟΣ ΜΑΓΝΗΣΙΑΣ,ΝΕΑ ΙΩΝΙΑ ΒΟΛΟΣ 38446,Αντώνης
2,H8041621,09/04/19,Argiris,Παπαπέτρου,Papapetrou,Δροσίς,Ζεπω,01/31/96,ΘΕΣΣΑΛΟΝΙΚΗ ΘΕΣΣΑΛΟΝΙΚΗΣ,ΘΕΣΣΑΛΟΝΙΚΗ 54625,Αργύρης
3,T7537065,11/14/17,"""Evangelos """"Vangelis""""""",Αγγέλου,Angelou,Αριστιππος,Διαμάντω,08/24/91,ΝΕΑ ΙΩΝΙΑ ΑΤΤΙΚΗΣ,ΝΕΑ ΙΩΝΙΑ 14231,"""Ευάγγελος"
4,IZ3473149,04/20/16,"""Evangelos """"Vangelis""""""",Σκλάβος,Sklavos,Μπιλλης,Δεναχιδα,05/12/87,ΚΑΒΑΛΑ ΚΑΒΑΛΑΣ,ΚΑΒΑΛΑ 65302,"""Ευάγγελος"
...,...,...,...,...,...,...,...,...,...,...,...
95,B9716346,08/27/09,Γιώργος,Bartzokas,Μπαρτζώκας,Βάλιος,Αριανα,03/08/88,ΧΑΛΑΝΔΡΙ ΑΤΤΙΚΗΣ,ΧΑΛΑΝΔΡΙ 15234,Georgios
96,O2931845,10/19/20,Γιάννης,Sfairopoulos,Σφαιρόπουλος,Δρακος,Αμφιτριτη,05/23/90,ΑΘΗΝΑ ΑΤΤΙΚΗΣ,ΑΘΗΝΑ 10436,Ioannis
97,IZ3049008,06/23/16,Βαγγέλης,Mantzaris,Μάντζαρης,Βακις,Δρύα,01/20/89,ΚΑΣΤΡΙ ΑΡΚΑΔΙΑΣ,ΚΑΣΤΡΙ 22013,Vangelis
98,KE6638472,05/30/15,Γιώργος,Printezis,Πρίντεζης,Αρκάδιος,Δέσπω,06/21/93,ΑΓΙΟΣ ΓΕΩΡΓΙΟΣ ΓΡΕΒΕΝΩΝ,ΑΓΙΟΣ ΓΕΩΡΓΙΟΣ 51030,Georgios
99,PE2549808,12/03/08,Κώστας,Papanikolaou,Παπανικολάου,Αχίλλιος,Αριστονίκη,05/26/98,ΑΧΑΡΝΕΣ ΑΤΤΙΚΗΣ,ΑΧΑΡΝΕΣ 13674,Kostas

## For Given Name

In [45]:
tmp = pd.DataFrame(df1['Given name'].str.split(" ", 1).tolist(), columns=["Names En", "out"])
df2 = pd.concat([df1, tmp], axis=1).drop(["Given name", "out"], axis=1)

In [46]:
df2

,Identity No,Data of Issue,Greek Last Name,Surname,Father’s name,Mother’s name,Date of Birth,Place of Birth,Dimotis,Names GR,Names En
0,T1653023,07/06/08,Γκιζογιαννης,Gizogiannis,Αχιλλέας,Ανίτα,12/08/90,ΣΥΚΙΕΣ ΘΕΣΣΑΛΟΝΙΚΗΣ,ΣΥΚΙΕΣ 56625,Ανδρόνικος,Andronikos
1,B4248133,02/28/08,Ασημακόπουλος,Asimakopoulos,Αινιας,Αρετή,04/17/91,ΝΕΑ ΙΩΝΙΑ ΒΟΛΟΣ ΜΑΓΝΗΣΙΑΣ,ΝΕΑ ΙΩΝΙΑ ΒΟΛΟΣ 38446,Αντώνης,Antonios
2,H8041621,09/04/19,Παπαπέτρου,Papapetrou,Δροσίς,Ζεπω,01/31/96,ΘΕΣΣΑΛΟΝΙΚΗ ΘΕΣΣΑΛΟΝΙΚΗΣ,ΘΕΣΣΑΛΟΝΙΚΗ 54625,Αργύρης,Argiris
3,T7537065,11/14/17,Αγγέλου,Angelou,Αριστιππος,Διαμάντω,08/24/91,ΝΕΑ ΙΩΝΙΑ ΑΤΤΙΚΗΣ,ΝΕΑ ΙΩΝΙΑ 14231,"""Ευάγγελος","""Evangelos"
4,IZ3473149,04/20/16,Σκλάβος,Sklavos,Μπιλλης,Δεναχιδα,05/12/87,ΚΑΒΑΛΑ ΚΑΒΑΛΑΣ,ΚΑΒΑΛΑ 65302,"""Ευάγγελος","""Evangelos"
...,...,...,...,...,...,...,...,...,...,...,...
95,B9716346,08/27/09,Bartzokas,Μπαρτζώκας,Βάλιος,Αριανα,03/08/88,ΧΑΛΑΝΔΡΙ ΑΤΤΙΚΗΣ,ΧΑΛΑΝΔΡΙ 15234,Georgios,Γιώργος
96,O2931845,10/19/20,Sfairopoulos,Σφαιρόπουλος,Δρακος,Αμφιτριτη,05/23/90,ΑΘΗΝΑ ΑΤΤΙΚΗΣ,ΑΘΗΝΑ 10436,Ioannis,Γιάννης
97,IZ3049008,06/23/16,Mantzaris,Μάντζαρης,Βακις,Δρύα,01/20/89,ΚΑΣΤΡΙ ΑΡΚΑΔΙΑΣ,ΚΑΣΤΡΙ 22013,Vangelis,Βαγγέλης
98,KE6638472,05/30/15,Printezis,Πρίντεζης,Αρκάδιος,Δέσπω,06/21/93,ΑΓΙΟΣ ΓΕΩΡΓΙΟΣ ΓΡΕΒΕΝΩΝ,ΑΓΙΟΣ ΓΕΩΡΓΙΟΣ 51030,Georgios,Γιώργος
99,PE2549808,12/03/08,Papanikolaou,Παπανικολάου,Αχίλλιος,Αριστονίκη,05/26/98,ΑΧΑΡΝΕΣ ΑΤΤΙΚΗΣ,ΑΧΑΡΝΕΣ 13674,Kostas,Κώστας

In [49]:
# Save to csv
file_name = 'test_real_greek.csv'

In [50]:
df2.to_csv(file_name, encoding='utf-8')