In [1]:
!ls

Corpus.ipynb  greek_wikipedia_names.csv      taxidromikos_kodikas_data.ods
Greek.csv     taxidromikos_kodikas_data.csv  Untitled.ipynb

In [1]:
import pandas as pd

In [47]:
df = pd.read_csv("Greek.csv")

In [48]:
df

                      name                                        description
0                      NaN  Moses Elisaf (Greek: Μωυσής Ελισάφ; born 17 Ju...
1                      NaN  Eva Kaili (Greek: Εύα Καϊλή; born 26 October 1...
2                      NaN  Dionysios "Dennis" Christu (born 27 July 1989 ...
3                      NaN  Nikos Androulakis (Greek: Νίκος Ανδρουλάκης; b...
4                      NaN  Epaminóndas "Nótis" Mariás (Greek: Επαμεινώνδα...
...                    ...                                                ...
1621           Χάρης Ρώμας  Charis Romas or Haris Romas (Greek: Χάρης Ρώμα...
1622    Χρήστος Σαλούστρος  Christos "Chris" Saloustros (Greek: Χρήστος Σα...
1623      Χρόνης Αηδονίδης  Chronis Aidonidis (Greek: Χρόνης Αηδονίδης) is...
1624      Кераца Висулчева  Keraca Visulčeva (also transliterated as Kerat...
1625  Ժորժ Տիրան Կառվարենց  Georges Diran Garvarentz (Armenian: Ժորժ Տիրան...

[1626 rows x 2 columns]

In [49]:
df = df.drop(['name'], axis=1)

In [50]:
df

                                            description
0     Moses Elisaf (Greek: Μωυσής Ελισάφ; born 17 Ju...
1     Eva Kaili (Greek: Εύα Καϊλή; born 26 October 1...
2     Dionysios "Dennis" Christu (born 27 July 1989 ...
3     Nikos Androulakis (Greek: Νίκος Ανδρουλάκης; b...
4     Epaminóndas "Nótis" Mariás (Greek: Επαμεινώνδα...
...                                                 ...
1621  Charis Romas or Haris Romas (Greek: Χάρης Ρώμα...
1622  Christos "Chris" Saloustros (Greek: Χρήστος Σα...
1623  Chronis Aidonidis (Greek: Χρόνης Αηδονίδης) is...
1624  Keraca Visulčeva (also transliterated as Kerat...
1625  Georges Diran Garvarentz (Armenian: Ժորժ Տիրան...

[1626 rows x 1 columns]

In [51]:
df["description"].head(10)

0    Moses Elisaf (Greek: Μωυσής Ελισάφ; born 17 Ju...
1    Eva Kaili (Greek: Εύα Καϊλή; born 26 October 1...
2    Dionysios "Dennis" Christu (born 27 July 1989 ...
3    Nikos Androulakis (Greek: Νίκος Ανδρουλάκης; b...
4    Epaminóndas "Nótis" Mariás (Greek: Επαμεινώνδα...
5    Alki Zei (Greek: Άλκη Ζέη) (December 15, 1925 ...
6    Anastasios Kantoutsis (Greek: Αναστάσιος Καντο...
7    Georgi Parvanov "Gocho" Vasilev (Bulgarian: Ге...
8    Triantafyllos Macheridis (Greek: Τριαντάφυλλος...
9    Stelios Papafloratos (Greek: Στέλιος Παπαφλωρά...
Name: description, dtype: object

In [54]:
# not True serarate the other half
df2 = df[df["description"].str.contains("Greek:")]

In [55]:
df2["description"]

0       Moses Elisaf (Greek: Μωυσής Ελισάφ; born 17 Ju...
1       Eva Kaili (Greek: Εύα Καϊλή; born 26 October 1...
3       Nikos Androulakis (Greek: Νίκος Ανδρουλάκης; b...
4       Epaminóndas "Nótis" Mariás (Greek: Επαμεινώνδα...
5       Alki Zei (Greek: Άλκη Ζέη) (December 15, 1925 ...
                              ...
1619    Charalambis "Charis" Markopoulos (alternate sp...
1620    Charilaos "Charis" Papageorgiou (alternate spe...
1621    Charis Romas or Haris Romas (Greek: Χάρης Ρώμα...
1622    Christos "Chris" Saloustros (Greek: Χρήστος Σα...
1623    Chronis Aidonidis (Greek: Χρόνης Αηδονίδης) is...
Name: description, Length: 1292, dtype: object

In [56]:
df2["description"].tail(20)

1604    Popi Malliotaki (Greek: Πόπη Μαλλιωτάκη) is a ...
1605    Ria Antoniou (Greek: Ρία Αντωνίου, Greek pronu...
1606    Rita Sakellariou (Greek: Ρίτα Σακελλαρίου) (bo...
1607    Savvas Manousos (Greek: Σάββας Μανούσος) (born...
1608    Sakis Arseniou (Greek: Σάκης Αρσενίου; born 19...
1609    Dionysis "Sakis" Skoulidas (alternate spelling...
1610    Smaragda Karydi (Greek: Σμαράγδα Καρύδη) is a ...
1611    Spyridon "Spyros" Magkounis (alternate spellin...
1612    Spyridon "Spyros" Motsenigos (alternate spelli...
1613    Efstratios Iordanoglou (alternate spellings: S...
1614    Sotirios "Sotiris" Gioulekas (Greek: Σωτήρης Γ...
1615    Anastasios "Tasos" Antonakis (alternate spelli...
1616    Jenny Hiloudaki (Greek: Τζένη Χειλουδάκη) (bor...
1617    Tzavalas Karousos (Greek: Τζαβαλάς Καρούσος; 8...
1618    Fotios Zoumpos (alternate spellings: Fotis, Zo...
1619    Charalambis "Charis" Markopoulos (alternate sp...
1620    Charilaos "Charis" Papageorgiou (alternate spe...
1621    Charis Romas or Haris Romas (Greek: Χάρης Ρώμα...
1622    Christos "Chris" Saloustros (Greek: Χρήστος Σα...
1623    Chronis Aidonidis (Greek: Χρόνης Αηδονίδης) is...
Name: description, dtype: object

In [192]:
len(df2)

1292

In [57]:
df2['description'][0].strip()

'Moses Elisaf (Greek: Μωυσής Ελισάφ; born 17 July 1954) is a Greek pathologist, academic, and independent politician.'

In [58]:
df3 = pd.DataFrame(df2['description'].str.split("(", 1).tolist(), columns=["Names en", "des2"])

In [59]:
df3

,Names en,des2
0,Moses Elisaf,Greek: Μωυσής Ελισάφ; born 17 July 1954) is a ...
1,Eva Kaili,Greek: Εύα Καϊλή; born 26 October 1978 in Thes...
2,Nikos Androulakis,Greek: Νίκος Ανδρουλάκης; born 7 February 1979...
3,"Epaminóndas ""Nótis"" Mariás",Greek: Επαμεινώνδας (Νότης) Μαριάς; born 5 Apr...
4,Alki Zei,"Greek: Άλκη Ζέη) (December 15, 1925 – February..."
...,...,...
1287,"Charalambis ""Charis"" Markopoulos","alternate spellings: Charalambos, Haris) (Gree..."
1288,"Charilaos ""Charis"" Papageorgiou","alternate spellings: Harilaos, Haris) (Greek: ..."
1289,Charis Romas or Haris Romas,"Greek: Χάρης Ρώμας) is a Greek actor, screenwr..."
1290,"Christos ""Chris"" Saloustros","Greek: Χρήστος Σαλούστρος; born March 29, 1990..."
1291,Chronis Aidonidis,Greek: Χρόνης Αηδονίδης) is a Greek singer bor...

In [196]:
tmp = pd.DataFrame(df3['des2'].str.split("Greek: ", 1).tolist(), columns=["trash", "des3"]) 
df4 = pd.concat([df3, tmp], axis=1).drop(["trash", "des2"], axis=1)

In [197]:
df4

,Names en,des3
0,Moses Elisaf,Μωυσής Ελισάφ; born 17 July 1954) is a Greek p...
1,Eva Kaili,Εύα Καϊλή; born 26 October 1978 in Thessalonik...
2,Nikos Androulakis,Νίκος Ανδρουλάκης; born 7 February 1979 in Her...
3,"Epaminóndas ""Nótis"" Mariás",Επαμεινώνδας (Νότης) Μαριάς; born 5 April 1957...
4,Alki Zei,"Άλκη Ζέη) (December 15, 1925 – February 27, 20..."
...,...,...
1287,"Charalambis ""Charis"" Markopoulos","Χαραλάμπης ""Χάρης"" Μαρκόπουλος; born January 2..."
1288,"Charilaos ""Charis"" Papageorgiou","Χαρίλαος ""Χάρης"" Παπαγεωργίου; born March 26, ..."
1289,Charis Romas or Haris Romas,"Χάρης Ρώμας) is a Greek actor, screenwriter, a..."
1290,"Christos ""Chris"" Saloustros","Χρήστος Σαλούστρος; born March 29, 1990) is a ..."
1291,Chronis Aidonidis,Χρόνης Αηδονίδης) is a Greek singer born on De...

In [118]:
df4['des3'][4]

"Άλκη Ζέη) (December 15, 1925 – February 27, 2020) was a Greek novelist and children's writer."

In [124]:
#df2 = df[df["description"].str.contains("Greek:")]
df5 = df4[df4["des3"].str.contains(";", na=False)]

In [208]:
df5 = df5.reset_index().drop(['index'], axis=1)

In [221]:
df5

,Names en,des3
0,Moses Elisaf,Μωυσής Ελισάφ; born 17 July 1954) is a Greek p...
1,Eva Kaili,Εύα Καϊλή; born 26 October 1978 in Thessalonik...
2,Nikos Androulakis,Νίκος Ανδρουλάκης; born 7 February 1979 in Her...
3,"Epaminóndas ""Nótis"" Mariás",Επαμεινώνδας (Νότης) Μαριάς; born 5 April 1957...
4,Triantafyllos Macheridis,Τριαντάφυλλος Μαχαιρίδης; born 10 November 197...
...,...,...
958,Tzavalas Karousos,Τζαβαλάς Καρούσος; 8 September 1904 – 3 Januar...
959,Fotios Zoumpos,"Φώτης Ζούμπος; born April 4, 1993) is a Greek ..."
960,"Charalambis ""Charis"" Markopoulos","Χαραλάμπης ""Χάρης"" Μαρκόπουλος; born January 2..."
961,"Charilaos ""Charis"" Papageorgiou","Χαρίλαος ""Χάρης"" Παπαγεωργίου; born March 26, ..."
962,"Christos ""Chris"" Saloustros","Χρήστος Σαλούστρος; born March 29, 1990) is a ..."

In [219]:
df5['des3'][5] #.split(";", 1)

'Στέλιος Παπαφλωράτος; born 27 January 1954) is a retired Greek football goalkeeper. During his career he played for Aris from 1970 to 1982. He earned 2 caps for the Greece national football team, and participated in UEFA Euro 1980.'

In [227]:
tmp2 = pd.DataFrame(df5['des3'].str.split(";", 1).tolist(), columns=["Names gr", "des4"])
df6 = pd.concat([df5, tmp2], axis=1)

In [228]:
df6

,Names en,des3,Names gr,des4
0,Moses Elisaf,Μωυσής Ελισάφ; born 17 July 1954) is a Greek p...,Μωυσής Ελισάφ,"born 17 July 1954) is a Greek pathologist, ac..."
1,Eva Kaili,Εύα Καϊλή; born 26 October 1978 in Thessalonik...,Εύα Καϊλή,"born 26 October 1978 in Thessaloniki, Greece)..."
2,Nikos Androulakis,Νίκος Ανδρουλάκης; born 7 February 1979 in Her...,Νίκος Ανδρουλάκης,born 7 February 1979 in Heraklion) is a Greek...
3,"Epaminóndas ""Nótis"" Mariás",Επαμεινώνδας (Νότης) Μαριάς; born 5 April 1957...,Επαμεινώνδας (Νότης) Μαριάς,born 5 April 1957) is a Greek political scien...
4,Triantafyllos Macheridis,Τριαντάφυλλος Μαχαιρίδης; born 10 November 197...,Τριαντάφυλλος Μαχαιρίδης,"born 10 November 1973), is a former Greek pro..."
...,...,...,...,...
958,Tzavalas Karousos,Τζαβαλάς Καρούσος; 8 September 1904 – 3 Januar...,Τζαβαλάς Καρούσος,8 September 1904 – 3 January 1969) was a Gree...
959,Fotios Zoumpos,"Φώτης Ζούμπος; born April 4, 1993) is a Greek ...",Φώτης Ζούμπος,"born April 4, 1993) is a Greek professional b..."
960,"Charalambis ""Charis"" Markopoulos","Χαραλάμπης ""Χάρης"" Μαρκόπουλος; born January 2...","Χαραλάμπης ""Χάρης"" Μαρκόπουλος","born January 20, 1982) is a former Greek prof..."
961,"Charilaos ""Charis"" Papageorgiou","Χαρίλαος ""Χάρης"" Παπαγεωργίου; born March 26, ...","Χαρίλαος ""Χάρης"" Παπαγεωργίου","born March 26, 1953 in Thessaloniki, Greece) ..."
962,"Christos ""Chris"" Saloustros","Χρήστος Σαλούστρος; born March 29, 1990) is a ...",Χρήστος Σαλούστρος,"born March 29, 1990) is a Greek professional ..."

In [229]:
df6 = df6.drop(['des4', 'des3'], axis=1)

In [230]:
df6

                              Names en                        Names gr
0                        Moses Elisaf                    Μωυσής Ελισάφ
1                           Eva Kaili                        Εύα Καϊλή
2                   Nikos Androulakis                Νίκος Ανδρουλάκης
3          Epaminóndas "Nótis" Mariás      Επαμεινώνδας (Νότης) Μαριάς
4            Triantafyllos Macheridis         Τριαντάφυλλος Μαχαιρίδης
..                                 ...                             ...
958                 Tzavalas Karousos                Τζαβαλάς Καρούσος
959                    Fotios Zoumpos                    Φώτης Ζούμπος
960  Charalambis "Charis" Markopoulos   Χαραλάμπης "Χάρης" Μαρκόπουλος
961   Charilaos "Charis" Papageorgiou    Χαρίλαος "Χάρης" Παπαγεωργίου
962       Christos "Chris" Saloustros               Χρήστος Σαλούστρος

[963 rows x 2 columns]

In [231]:
df6['Names en'] = df6['Names en'].str.strip()
df6['Names gr'] = df6['Names gr'].str.strip()

In [232]:
df6

                             Names en                        Names gr
0                        Moses Elisaf                   Μωυσής Ελισάφ
1                           Eva Kaili                       Εύα Καϊλή
2                   Nikos Androulakis               Νίκος Ανδρουλάκης
3          Epaminóndas "Nótis" Mariás     Επαμεινώνδας (Νότης) Μαριάς
4            Triantafyllos Macheridis        Τριαντάφυλλος Μαχαιρίδης
..                                ...                             ...
958                 Tzavalas Karousos               Τζαβαλάς Καρούσος
959                    Fotios Zoumpos                   Φώτης Ζούμπος
960  Charalambis "Charis" Markopoulos  Χαραλάμπης "Χάρης" Μαρκόπουλος
961   Charilaos "Charis" Papageorgiou   Χαρίλαος "Χάρης" Παπαγεωργίου
962       Christos "Chris" Saloustros              Χρήστος Σαλούστρος

[963 rows x 2 columns]

In [182]:
# split column Parents to get beter results  
#tmp3 = pd.DataFrame(df6['Names en'].str.rsplit(" ", 1).tolist(), columns=["Given Name", "Surname"])    
#df6 = pd.concat([df6, tmp3], axis=1).drop(["Names en"], axis=1)

In [233]:
# set csv output file_name
file_name = 'greek2.csv'
df6.to_csv(file_name, encoding='utf-8')

# Now get some other names

In [234]:
df4

,Names en,des3
0,Moses Elisaf,Μωυσής Ελισάφ; born 17 July 1954) is a Greek p...
1,Eva Kaili,Εύα Καϊλή; born 26 October 1978 in Thessalonik...
2,Nikos Androulakis,Νίκος Ανδρουλάκης; born 7 February 1979 in Her...
3,"Epaminóndas ""Nótis"" Mariás",Επαμεινώνδας (Νότης) Μαριάς; born 5 April 1957...
4,Alki Zei,"Άλκη Ζέη) (December 15, 1925 – February 27, 20..."
...,...,...
1287,"Charalambis ""Charis"" Markopoulos","Χαραλάμπης ""Χάρης"" Μαρκόπουλος; born January 2..."
1288,"Charilaos ""Charis"" Papageorgiou","Χαρίλαος ""Χάρης"" Παπαγεωργίου; born March 26, ..."
1289,Charis Romas or Haris Romas,"Χάρης Ρώμας) is a Greek actor, screenwriter, a..."
1290,"Christos ""Chris"" Saloustros","Χρήστος Σαλούστρος; born March 29, 1990) is a ..."
1291,Chronis Aidonidis,Χρόνης Αηδονίδης) is a Greek singer born on De...

In [235]:
#df2 = df[df["description"].str.contains("Greek:")]
df8 = df4[df4["des3"].str.contains(";", na=False)==False]

In [236]:
df8

,Names en,des3
4,Alki Zei,"Άλκη Ζέη) (December 15, 1925 – February 27, 20..."
5,Anastasios Kantoutsis,"Αναστάσιος Καντούτσης, born 23 May 1994) is a ..."
8,Anna Karamanli,"Άννα Καραμανλή, born 10 May 1968) is a Greek p..."
12,Yiannis Parios,"Γιάννης Πάριος) is a Greek vocalist, with a ca..."
14,George,"Γεώργιος Λιάνης, 1926–2008) was a Greek schola..."
...,...,...
1278,Smaragda Karydi,Σμαράγδα Καρύδη) is a Greek TV and stage actre...
1282,"Sotirios ""Sotiris"" Gioulekas","Σωτήρης Γκιουλέκας, Greek pronunciation: [so't..."
1284,Jenny Hiloudaki,"Τζένη Χειλουδάκη) (born February 21, 1968) is ..."
1289,Charis Romas or Haris Romas,"Χάρης Ρώμας) is a Greek actor, screenwriter, a..."
1291,Chronis Aidonidis,Χρόνης Αηδονίδης) is a Greek singer born on De...

In [238]:
# reset row index
df8 = df8.reset_index().drop(['index'], axis=1)

In [245]:
df8['des3']

0      Άλκη Ζέη) (December 15, 1925 – February 27, 20...
1      Αναστάσιος Καντούτσης, born 23 May 1994) is a ...
2      Άννα Καραμανλή, born 10 May 1968) is a Greek p...
3      Γιάννης Πάριος) is a Greek vocalist, with a ca...
4      Γεώργιος Λιάνης, 1926–2008) was a Greek schola...
                             ...
324    Σμαράγδα Καρύδη) is a Greek TV and stage actre...
325    Σωτήρης Γκιουλέκας, Greek pronunciation: [so't...
326    Τζένη Χειλουδάκη) (born February 21, 1968) is ...
327    Χάρης Ρώμας) is a Greek actor, screenwriter, a...
328    Χρόνης Αηδονίδης) is a Greek singer born on De...
Name: des3, Length: 329, dtype: object

In [278]:
tmp4 = pd.DataFrame(df8['des3'][:42].str.split(")", 1).tolist(), columns=["Names gr", "des4"])
tmp5 = pd.DataFrame(tmp4['Names gr'].str.split(",", 1).tolist(), columns=["Names gr", "rest"])

df9 = pd.concat([df8, tmp5], axis=1)

In [279]:
df8['des3'][1].split(")", 1)

['Αναστάσιος Καντούτσης, born 23 May 1994',
 ' is a Greek professional footballer who plays as a centre back for Football League club Kalamata.']

In [280]:
df9 = df9.dropna()

In [281]:
df9 = df9.drop(['des3', 'rest'], axis=1)

In [282]:
df9

                             Names en                         Names gr
1              Anastasios Kantoutsis             Αναστάσιος Καντούτσης
2                     Anna Karamanli                    Άννα Καραμανλή
4                             George                   Γεώργιος Λιάνης
6   Dionysia-Theodora Avgerinopoulou   Διονυσία-Θεοδώρα Αυγερινοπούλου
10                Adam Tzanetopoulos               Άνταμ Τζανετόπουλος
11                  Alekos Fassianos                   Αλέκος Φασιανός
12                  Alexandros Binas                 Αλέξανδρος Μπίνας
14             Alexis Apostolopoulos             Αλέξης Αποστολόπουλος
15                  Alexandros Binas                 Αλέξανδρος Μπίνας
16                 Alexis Koubroglou                Αλέξης Κουμπρόγλου
18               Alexandros Vergonis               Αλέξανδρος Βεργώνης
19             Alexis Apostolopoulos             Αλέξης Αποστολόπουλος
20                 Alexis Koubroglou                Αλέξης Κουμπρόγλου
22        Alkistis Christina Benekou        Άλκηστις Χριστίνα Μπενέκου
23            Amvrosios Papadopoulos            Αμβρόσιος Παπαδόπουλος
25            Anastasios Dimitriadis            Αναστάσιος Δημητριάδης
26             Anastasios Kantoutsis             Αναστάσιος Καντούτσης
27      Anastasios "Tasos" Karamanos      Αναστάσιος "Τάσος" Καραμάνος
28                Anastasios Metaxas                Αναστάσιος Μεταξάς
30     Andreas Jacques Varsakopoulos             Ανδρέας Βαρσακόπουλος
32                 Angeliki Antoniou                 Αγγελική Αντωνίου
33                Angeliki Gerolymou                Αγγελική Γερόλυμου
34                Angelos Karatasios                Άγγελος Καρατάσιος
35                  Angelos Sikalias                  Άγγελος Σικαλιάς
36                    Anna Karamanli                    Άννα Καραμανλή
37                      Anna Verouli                      Άννα Βερούλη
40                Antonis Antoniadis                Αντώνης Αντωνιάδης
41               Antonis Petropoulos               Αντώνης Πετρόπουλος

### 1. Save File

In [285]:
# set csv output file_name
file_name = 'greek_rest.csv'
df9.to_csv(file_name, encoding='utf-8')